<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Configuración de headers de caché para IIS -->
    <staticContent>
      <!-- Imágenes - 1 año -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="31536000" />
    </staticContent>
    
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    
    <!-- Configuración específica por tipo de archivo -->
    <location path="img">
      <system.webServer>
        <staticContent>
          <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="31536000" />
        </staticContent>
        <httpProtocol>
          <customHeaders>
            <add name="Cache-Control" value="public, max-age=31536000, immutable" />
          </customHeaders>
        </httpProtocol>
      </system.webServer>
    </location>
    
    <location path="style.css">
      <system.webServer>
        <staticContent>
          <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="31536000" />
        </staticContent>
        <httpProtocol>
          <customHeaders>
            <add name="Cache-Control" value="public, max-age=31536000, immutable" />
          </customHeaders>
        </httpProtocol>
      </system.webServer>
    </location>
    
    <!-- Compresión -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="true" mimeType="image/svg+xml" />
        <add enabled="false" mimeType="*/*" />
      </staticTypes>
    </httpCompression>
  </system.webServer>
</configuration>
